<br>
  <div fxLayout="column" fxLayoutAlign="center center">
  <h2>Ajouter un Nouvel Enseignant</h2>
  <br>
  </div>
<form [formGroup]="form" (ngSubmit)="createEnseignant()">
  <mat-form-field style="width: 100%;">
    <mat-label>Nom :</mat-label>
    <input matInput formControlName="nom_enseignant" required>
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <mat-label>Prénom :</mat-label>
    <input matInput formControlName="prenom_enseignant" required>
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <mat-label>Numéro de Téléphone :</mat-label>
    <input matInput formControlName="num_tel" required>
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <mat-label>Email :</mat-label>
    <input matInput formControlName="email" required>
  </mat-form-field>

  <div fxLayout="row" fxLayoutGap="16px">
    <button mat-raised-button type="submit" color="primary">Soumettre</button>
    <button routerLink="/Enseignants" mat-raised-button color="warn">Retour</button> 
  </div> 

</form><br>