<h2>Ajouter un Nouvel Enseignant</h2>

<form [formGroup]="form" (ngSubmit)="createEnseignant()">
  <mat-form-field style="width: 100%;">
    <mat-label>Nom :</mat-label>
    <input matInput formControlName="nom_enseignant" required>
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <mat-label>Prénom :</mat-label>
    <input matInput formControlName="prenom_enseignant" required>
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <mat-label>Numéro de Téléphone :</mat-label>
    <input matInput formControlName="num_tel" required>
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <mat-label>Email :</mat-label>
    <input matInput formControlName="email" required>
  </mat-form-field>

  <button mat-raised-button type="submit" color="primary">Ajouter enseignant</button>
  <button mat-button routerLink="/enseignants">Retour à la Liste</button>

</form>