<br><div fxLayout="column" fxLayoutAlign="center center">
  <h2>Créer un Jour</h2>
<br>
  <form [formGroup]="form" (ngSubmit)="createJour()" style="width: 100%;">
    <mat-form-field style="width: 100%;">
      <mat-label>Jour</mat-label>
      <mat-select formControlName="jour">
        <mat-option *ngFor="let j of joursDeLaSemaine" [value]="j.nom">
          {{ j.nom }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="16px">
      <button mat-raised-button type="submit" color="primary">Soumettre</button>
      <button routerLink="/jours" mat-raised-button color="warn">Retour</button> 
    </div> 
  </form><br>
</div>
