<div fxLayout="column">
  <h2>Créer une Année Universitaire</h2>

  <form [formGroup]="form" (ngSubmit)="createAnneeUniversitaire()" style="width: 100%;">
    <mat-form-field style="width: 100%;">
      <mat-label>Nom Année</mat-label>
      <input matInput placeholder="Nom Année" formControlName="nom_annee">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Semester</mat-label>
      <input matInput placeholder="Semester" formControlName="semester">
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Soumettre</button>
  </form>
</div>
