<div class="container" *ngIf="selectedEmploi">
    <h2>Edit Emploi</h2>
    <form (ngSubmit)="updateEmploi()">
      <label for="id_jour">Jour ID:</label>
      <input type="number" id="id_jour" [(ngModel)]="selectedEmploi.id_jour" name="id_jour" required>

      <label for="id_heure">Heure ID:</label>
      <input type="number" id="id_heure" [(ngModel)]="selectedEmploi.id_heure" name="id_heure" required>

      <label for="id_salle">Salle ID:</label>
      <input type="number" id="id_salle" [(ngModel)]="selectedEmploi.id_salle" name="id_salle" required>

      <label for="id_annee">Annee ID:</label>
      <input type="number" id="id_annee" [(ngModel)]="selectedEmploi.id_annee" name="id_annee" required>

      <label for="id_charge_horaire">Charge Horaire ID:</label>
      <input type="number" id="id_charge_horaire" [(ngModel)]="selectedEmploi.id_charge_horaire" name="id_charge_horaire" required>

      <button type="submit">Update Emploi</button>
    </form>
  </div>