<div fxLayout="column" fxLayoutAlign="center center">
    <h2>Modifier un emploi</h2>
  
    <form [formGroup]="form" (ngSubmit)="updateEmployi()" style="width: 100%;">
      <mat-form-field style="width: 100%;">
        <mat-label>Jour</mat-label>
        <mat-select formControlName="jour">
          <mat-option *ngFor="let jour of jours" [value]="jour">{{ jour }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <div fxLayout="row" fxLayoutGap="16px" style="width: 100%;">
        <mat-form-field fxFlex>
          <mat-label>Heure de début</mat-label>
          <input matInput type="time" formControlName="heure_debut">
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>Heure de fin</mat-label>
          <input matInput type="time" formControlName="heure_fin">
        </mat-form-field>
      </div>
  
      <mat-form-field style="width: 100%;">
        <mat-label>Salle</mat-label>
        <mat-select formControlName="id_salle">
          <mat-option *ngFor="let salle of salles" [value]="salle.id">{{ salle.num_salle }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field style="width: 100%;">
        <mat-label>Année universitaire</mat-label>
        <mat-select formControlName="id_annee">
          <mat-option *ngFor="let annee of annees" [value]="annee.id">{{ annee.nom_annee }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-raised-button type="submit" color="primary">Soumettre</button>
    </form>
  </div>
  