<h2>Attribution de congé</h2>

<form [formGroup]="congeForm" (ngSubmit)="createConge()">
  <div>
    <mat-form-field style="width: 100%;">
      <mat-label>Type de congé :</mat-label>
      <mat-select formControlName="type_conge" required>
        <mat-option *ngFor="let type of typesConge" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field style="width: 100%;">
      <mat-label>Date de début :</mat-label>
      <input matInput formControlName="date_debut" type="date" required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field style="width: 100%;">
      <mat-label>Date de fin :</mat-label>
      <input matInput formControlName="date_fin" type="date" required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field style="width: 100%;">
      <mat-label>Enseignant :</mat-label>
      <mat-select formControlName="id_enseignant" required>
        <mat-option *ngFor="let enseignant of enseignants" [value]="enseignant.id">
          {{ enseignant.nom_enseignant }} {{ enseignant.prenom_enseignant }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button type="submit" color="primary">Attribuer Congé</button>
    <button mat-button routerLink="/conges">Retour à la Liste</button>
  </div>
</form>