<br>
  <div fxLayout="column" fxLayoutAlign="center center">
  <h2>Attribution de congé</h2>
  <br>
  </div>
<form [formGroup]="congeForm" (ngSubmit)="createConge()">
  <div>
    <mat-form-field style="width: 100%;">
      <mat-label>Type de congé :</mat-label>
      <mat-select formControlName="type_conge" required>
        <mat-option *ngFor="let type of typesConge" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field style="width: 100%;">
      <mat-label>Date de début :</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date_debut" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field style="width: 100%;">
      <mat-label>Date de fin :</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date_fin" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field style="width: 100%;">
      <mat-label>Enseignant :</mat-label>
      <mat-select formControlName="id_enseignant" required>
        <mat-option *ngFor="let enseignant of enseignants" [value]="enseignant.id">
          {{ enseignant.nom_enseignant }} {{ enseignant.prenom_enseignant }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  
  <div fxLayout="row" fxLayoutGap="16px">
    <button mat-raised-button type="submit" color="primary">Soumettre</button>
    <button routerLink="/conges" mat-raised-button color="warn">Retour</button> 
  </div> 
</form>