<br><div fxLayout="column" fxLayoutAlign="center center">
  <h2>Modifier une matiére</h2>
<br>
  <form [formGroup]="form" (ngSubmit)="updateMatiere()" style="width: 100%;">
    <mat-form-field style="width: 100%;">
      <mat-label>Nom de matiére</mat-label>
      <input matInput placeholder="Nom de matiére" formControlName="nom_matiere">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>description</mat-label>
      <input matInput placeholder="Nom de matiére" formControlName="description">
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="16px">
      <button mat-raised-button type="submit" color="primary">Soumettre</button>
      <button routerLink="/matieres" mat-raised-button color="warn">Retour</button> 
     </div>

  </form><br>
</div>