<div *ngIf="niveauMatiereToEdit">
  <h2>Éditer un Niveau-Matière</h2>
  <form [formGroup]="form" (ngSubmit)="updateNiveauMatiere()">
    <div class="form-field">
      <mat-form-field>
        <mat-label>Niveau:</mat-label>
        <mat-select formControlName="id_niveau" required>
          <mat-option *ngFor="let niveau of niveaux" [value]="niveau.id">{{ niveau.nom_niveau }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field>
        <mat-label>Matière:</mat-label>
        <mat-select formControlName="id_matiere" required>
          <mat-option *ngFor="let matiere of matieres" [value]="matiere.id">{{ matiere.nom_matiere }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-raised-button type="submit" color="primary">Mettre à jour</button>
  </form>
</div>

<button mat-button routerLink="/niveau-matieres">Retour à la Liste</button>