<div fxLayout="column">
  <h2>Créer un groupe</h2>

  <form [formGroup]="form" (ngSubmit)="createGroupe()" style="width: 100%;">
    <mat-form-field style="width: 100%;">
      <mat-label>Nom du Groupe:</mat-label>
      <input matInput placeholder="Nom du Groupe" formControlName="nom_groupe">
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <mat-label>Niveau:</mat-label>
      <mat-select formControlName="id_niveau">
        <mat-option *ngFor="let niveau of niveaux" [value]="niveau.id">
          {{ niveau.nom_niveau }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary">Soumettre</button>

  </form>
</div>