<div *ngIf="groupeToEdit">
    <h2>Editer le Groupe</h2>
    <form (submit)="updateGroupe()">
      <label>
        Nom du Groupe:
        <input type="text" [(ngModel)]="groupeToEdit.nom_groupe" name="nom_groupe" required>
      </label>
      <label>
        Niveau:
        <select [(ngModel)]="groupeToEdit.id_niveau" name="id_niveau" required>
          <option *ngFor="let niveau of niveaux" [value]="niveau.id">{{ niveau.nom_niveau }}</option>
        </select>
      </label>
      <button type="submit">Mettre à jour</button>
    </form>
  </div>
  
  <button routerLink="/groupes">Retour à la Liste</button>
  