<div fxLayout="column" fxLayoutAlign="center center"><br>
  <h2>Modifier un Jour</h2>
<br>
  <form [formGroup]="form" (ngSubmit)="updateJour()" style="width: 100%;">
    <mat-form-field style="width: 100%;">
      <mat-label>Nom</mat-label>
      <input matInput placeholder="Nom du Jour" formControlName="nom">
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="16px">
      <button mat-raised-button type="submit" color="primary">Soumettre</button>
      <button routerLink="/jours" mat-raised-button color="warn">Retour</button> 
    </div>   </form><br>
</div>
