  <br><div fxLayout="column" fxLayoutAlign="center center">
    <h2>Modifier une Année Universitaire</h2>
  <br>
  <form [formGroup]="form" (ngSubmit)="updateAnneeUniversitaire()" style="width: 100%;">
    <mat-form-field style="width: 100%;">
      <mat-label>Nom Année</mat-label>
      <input matInput placeholder="Nom Année" formControlName="nom_annee" [disabled]="true">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Semester</mat-label>
      <input matInput placeholder="Semester" formControlName="semester">
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="16px">
      <button mat-raised-button type="submit" color="primary">Soumettre</button>
      <button routerLink="/annee-universitaire" mat-raised-button color="warn">Retour</button> 
    </div>   </form><br>
</div>
