<h2>Ajouter une Nouvelle Association Niveau-Matière</h2>

<form (submit)="createNiveauMatiere(+id_niveau.value, +id_matiere.value)">
  <label>
    Niveau:
    <select #id_niveau required>
      <option *ngFor="let niveau of niveaux" [value]="niveau.id">{{ niveau.nom_niveau }}</option>
    </select>
  </label>
  <label>
    Matière:
    <select #id_matiere required>
      <option *ngFor="let matiere of matieres" [value]="matiere.id">{{ matiere.nom_matiere }}</option>
    </select>
  </label>
  <button type="submit">Ajouter Association</button>
</form>

<button routerLink="/niveau-matieres">Retour à la Liste</button>
