<br>
  <div fxLayout="column" fxLayoutAlign="center center">
  <h2>Ajouter une prime</h2>
  <br>
  </div>
<form [formGroup]="form" (ngSubmit)="createPrime()">
  <div class="form-row">
    <mat-form-field style="width: 100%;">
      <mat-label>Montant de la prime</mat-label>
      <input matInput formControlName="montant_prime" type="number" required>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field style="width: 100%;">
      <mat-label>Enseignant</mat-label>
      <mat-select formControlName="id_enseignant" required>
        <mat-option *ngFor="let enseignant of enseignants" [value]="enseignant.id">
          {{ enseignant.nom_enseignant }} {{ enseignant.prenom_enseignant }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="16px">
    <button mat-raised-button type="submit" color="primary">Soumettre</button>
    <button routerLink="/primes" mat-raised-button color="warn">Retour</button> 
  </div> 
  
</form><br>