
<h2>Creer un prime</h2>
<form [formGroup]="form" (ngSubmit)="createPrime()">
  <div class="form-row">
    <mat-form-field style="width: 100%;">
      <mat-label>Montant de la prime</mat-label>
      <input matInput formControlName="montant_prime" type="number" required>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field style="width: 100%;">
      <mat-label>Enseignant</mat-label>
      <mat-select formControlName="id_enseignant" required>
        <mat-option *ngFor="let enseignant of enseignants" [value]="enseignant.id">
          {{ enseignant.nom_enseignant }} {{ enseignant.prenom_enseignant }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-row">
    <button mat-raised-button type="submit" color="primary">Attribuer Prime</button>
    <button mat-button routerLink="/primes">Retour à la Liste</button>
  </div>
</form>