<h1>Liste des années universitaires</h1>

<table>
  <thead>
    <tr>
      <th>Nom de l'année</th>
      <th>Semestre</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let annee of annees">
      <td>{{ annee.nom_annee }}</td>
      <td>{{ annee.semestre }}</td>
      <td>
        <a [routerLink]="['/annees', annee.nom_annee, 'edit']">Modifier</a>
        <button (click)="deleteAnnee(annee.nom_annee)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>

<a [routerLink]="['/create-annee-universitaire']">Créer une nouvelle année universitaire</a>
