<br><br><div fxLayout="row" fxLayoutAlign="end center">
  <button routerLink="/create-annee-universitaire" mat-raised-button color="primary">Créer Nouvelle Année</button>
</div>

<mat-form-field>
  <mat-label>chercher une année</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. 2023-2024" #input>
</mat-form-field>

<table mat-table [dataSource]="annees" class="mat-elevation-z8">

  <!-- Nom Annee Column -->
  <ng-container matColumnDef="nom_annee">
    <th mat-header-cell *matHeaderCellDef> Nom Année </th>
    <td mat-cell *matCellDef="let element"> {{element.nom_annee}} </td>
  </ng-container>

  <!-- Semester Column -->
  <ng-container matColumnDef="semester">
    <th mat-header-cell *matHeaderCellDef> Semester </th>
    <td mat-cell *matCellDef="let element"> {{element.semester}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button (click)="editAnneeUniversitaire(element.nom_annee)">
        <mat-icon aria-hidden="false" aria-label="Modifier" fontIcon="edit"></mat-icon>
      </button>
      <button (click)="deleteAnneeUniversitaire(element.nom_annee)">
        <mat-icon aria-hidden="false" aria-label="Supprimer" fontIcon="delete"></mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
