<div fxLayout="column" fxLayoutAlign="center center">
  <h2>Ajouter un examen</h2>
  <br>
</div>

<form [formGroup]="form" (ngSubmit)="createExamen()">
  <div class="form-row">
    <mat-form-field style="width: 100%;">
      <mat-label>Nom de l'examen :</mat-label>
      <input matInput type="text" formControlName="nom_examen" required>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field style="width: 100%;">
      <mat-label>Date de l'examen :</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date_examen" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field style="width: 100%;">
      <mat-label>Heure de début :</mat-label>
      <input matInput type="time" formControlName="heure_debut" required>
      <mat-icon matSuffix>access_time</mat-icon>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field style="width: 100%;">
      <mat-label>Heure de fin :</mat-label>
      <input matInput type="time" formControlName="heure_fin" required>
      <mat-icon matSuffix>access_time</mat-icon>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field style="width: 100%;">
      <mat-label>Niveau / Matière :</mat-label>
      <select matNativeControl formControlName="id_niveau_matiere" required>
        <option *ngFor="let niveauMatiere of niveauMatieres" [value]="niveauMatiere.id">
          {{ niveauMatiere.id }}
        </option>
      </select>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="16px">
    <button mat-raised-button type="submit" color="primary">Soumettre</button>
    <button routerLink="/examens" mat-raised-button color="warn">Retour</button>
  </div>
</form>
<br>
