<div fxLayout="column" fxLayoutAlign="center center"><br>
    <h2>Modifier un Horaire</h2><br>
  
    <form [formGroup]="form" (ngSubmit)="updateHoraire()" style="width: 100%;">
      <mat-form-field style="width: 100%;">
        <mat-label>Heure</mat-label>
        <input matInput placeholder="Heure" formControlName="heure">
      </mat-form-field>
      <div fxLayout="row" fxLayoutGap="16px">
        <button mat-raised-button type="submit" color="primary">Soumettre</button>
        <button routerLink="/horaires" mat-raised-button color="warn">Retour</button> 
      </div>    </form><br>
  </div>
  