<h2>Create New Member</h2>

<form [formGroup]="form" (ngSubmit)="onsub()">
  <mat-form-field style="width: 100%;">
    <mat-label>cin</mat-label>
    <input matInput placeholder="cin" formControlName="cin">
  </mat-form-field>
  <mat-form-field style="width: 100%;">    <mat-label>name</mat-label>
    <input matInput placeholder="name" formControlName="name">
  </mat-form-field>
  <mat-form-field style="width: 100%;">    <mat-label>cv</mat-label>
    <input matInput placeholder="cv" formControlName="cv">
  </mat-form-field>
  <mat-form-field style="width: 100%;">
     <mat-label>type</mat-label>
    <input matInput placeholder="type" formControlName="type">
  </mat-form-field>
  <button  mat-raised-button type="submit" color="primary">submit</button>




</form>